@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
$font-stack: Lato,
sans-serif;
.subheading {
    font-weight: bold;
    color: #5E5E60;
}

.cuerpo {
    color: #5E5E60;
}