.sad__logo {
    margin-top: 15px;
}

.tool__logo {
    height: 131px;
    width: 141px;
    margin-bottom: 10px;
}

.alert__logo {
    margin-bottom: 10px;
}

.info__icon {
    margin-top: 15px;
    margin-left: 2px;
    width: 15px;
    &--noMargin {
        margin-top: 2px;
    }
}

.info__iconNm {
    margin-top: 7px;
    margin-left: 2px;
    width: 15px;
}

.proccesing__logo {
    width: 100px;
}