$light-red:#ffbfb5;
$red: #DD4F38;
$a1: #FFB26A;
$a2: #75CDCD;
$a3: #FEDC95;
$a4: #64B5EF;
$a5: #AE85FF;
$a6: #D4D5D9;
$a7: #B6FB85;
$a8: #FF849D;
$a9: #C35351;
$a10: #FC998E;
$a11: #F29CF2;
$a12: #4B9A99;